/* Navbar.js */

.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
.login-button > div {
  margin-left: 8px;
}


.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list li {
  padding: 10px;
}
.menu-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid ;
  border-width: 0 0 1px; 
  height: 30px;
  margin-right: 20px;
}
.menu-search > input {
  border: 0px;
}

/* ProductCard.js */
.img-style {
  width: 18rem;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
  color: chartreuse;
  -webkit-text-stroke: .5px yellow;
  /*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
  */
}
.new-text {
  border: 1px solid lightgray;
  background-color: lightgrey;
  border-radius: 5px;
  width: 30px;
  height: 17px;
  text-align: center;
  font-size: x-small;
  margin-bottom: 10px;
}
/* Login.js */
.login-container {
  height: 100vh;
  width: 50rem !important;
  margin-top: 8rem;
}